@font-face {
	font-family: openSans;
	scr: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: openSans-light;
	scr: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
	font-family: openSans-Semibold;
	scr: url('fonts/Open_Sans/OpenSans-Semibold.ttf');
}