/* responsive */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	
	#sidebar {
		left: -180px;
	}
	.visible-sidebar{
			left: 0 !important;
			transition-property: margin;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
		}

	.container-margin {
		left: 0;
		margin-left: 0;
	}

	.move-right {
		left: 180px;

		transition-property: margin;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}

	.search-section .new-trip {
    min-width: 120px;
    margin-bottom: 10px;	
	}

	.trip-list-section {
		overflow-x: auto;
	}

	.dropdown-filter {
		margin-bottom: 10px;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.trip-list-section {
		overflow-x: auto;
	}
}


