@font-face {
  font-family: openSans;
  scr: url("fonts/Open_Sans/OpenSans-Regular.ttf"); }
@font-face {
  font-family: openSans-light;
  scr: url("fonts/Open_Sans/OpenSans-Light.ttf"); }
@font-face {
  font-family: openSans-Semibold;
  scr: url("fonts/Open_Sans/OpenSans-Semibold.ttf"); }
body {
  font-family: 'openSans', arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  letter-spacing: 0.4px;
  overflow-x: hidden !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-weight: normal;
  position: relative;
  background-color: #FFF;
  background-color: #EDF0F5;
  height: 100%;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .1s;
  -moz-transition-duration: .1s;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s; }

* {
  margin: 0;
  padding: 0;
  outline: 0; }

/* Margin & Padding */
img {
  max-width: 100%; }

.mr-5 {
  margin-right: 5px !important; }

.mr-10 {
  margin-right: 10px !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

/*  Font Style */
.bold {
  font-weight: bold !important; }

.light {
  font-weight: lighter !important; }

.italic {
  font-style: italic !important; }

/* List Style */
.block-list > li {
  display: block;
  margin-bottom: 5px; }

.inline-list > li {
  display: inline-block;
  margin-right: 5px; }

/* Div Style */
.sector {
  width: 100%;
  float: left;
  padding: 10px; }

.block {
  display: block !important; }

/*  Typography */
a {
  color: #333; }

a:focus, a:active, a:hover {
  color: #000;
  text-decoration: none;
  outline: 0;
  border: 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

.f-16 {
  font-size: 16px !important; }

.f-18 {
  font-size: 18px !important; }

.f-20 {
  font-size: 20px !important; }

ul, li, ol {
  list-style: none; }

.brand-color {
  color: #00ADEF; }

.cursor {
  cursor: pointer; }

/* Bootstrap Style Modify */
.form-control {
  border-radius: 2px;
  box-shadow: none; }

.form-control:focus,
.form-control:active {
  box-shadow: none;
  outline: 0;
  border-color: #888; }

.modal-header.this {
  background-color: #EFF3F4;
  color: #80939A;
  font-size: 16px; }

/*  Checkbox And Radio Button */
.radio-block > li label {
  font-size: 16px; }

input[type="radio"], input[type="checkbox"] {
  display: none !important;
  opacity: 0; }

.checkbox-div {
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 1px solid #BBB;
  text-align: center;
  line-height: 14px;
  margin-right: 6px;
  border-radius: 3px;
  cursor: pointer;
  position: relative; }

.radio-div {
  font-size: 13px;
  border-radius: 40px;
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #00adef;
  text-align: center;
  line-height: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  float: left; }

.checkbox-div span {
  font-size: 11px;
  opacity: 0;
  color: #666;
  vertical-align: middle; }

.radio-div span {
  font-size: 7px;
  opacity: 0;
  color: #00adef; }

input:checked + label span {
  opacity: 1; }

input:checked .radio-div span {
  font-size: 5px !important; }

input[type="radio"]:checked + label span {
  font-size: 7px !important; }

.btn:focus, .btn:active, .btn:hover {
  outline: 0; }

.table-responsive {
  overflow-x: auto; }

/* Scroll Style */
.btn:hover, .btn:active, .btn:focus {
  outline: 0 !important;
  box-shadow: none; }

.btn {
  border-radius: 3px;
  padding: 8px 15px;
  line-height: 1em;
  font-weight: bold; }

.btn-gray {
  background-color: #515254;
  color: #FFF;
  border: 0; }

.btn-grey {
  background-color: #2A3030 !important;
  color: #FFF;
  border: 0; }

.btn-grey:hover {
  color: #FFF;
  background-color: #404040 !important; }

.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  color: #FFF;
  background-color: #333; }

.brand-btn {
  background-color: #00ADEF;
  color: #FFF;
  border: #00ADEF; }

.brand-btn:hover, .brand-btn:focus, .brand-btn:active {
  color: #FFF;
  background-color: #515254; }

.btn-facebook {
  background-color: #3B5999;
  color: #FFF;
  font-size: 20px; }

.btn-facebook:hover {
  background-color: #3B5999;
  color: #FFF; }

.btn-action {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: bold; }

.btn-yellow {
  background-color: #F8B912;
  color: #FFF;
  border: 0;
  outline: 0; }

.brand-btn {
  background-color: #00ADEF;
  color: #FFF;
  border: #00ADEF;
  font-weight: bold;
  margin-right: 0;
  margin-bottom: 10px; }

.brand-btn:hover, .brand-btn:focus {
  background-color: #666 !important; }

/* Side bar  */
.sidebar {
  width: 180px;
  height: 100%;
  padding-left: 0;
  box-shadow: -2px 3px 12px #b7b7b7;
  position: fixed;
  background-color: #FFF;
  z-index: 12;
  margin-left: 0;
  transition-property: margin;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }

.container-fluid {
  transition-property: margin;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s; }

.container-margin {
  margin-left: 180px;
  position: relative;
  z-index: 10;
  transition-property: margin;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s; }

.logo-area {
  background-color: #00ADEF;
  padding: 10px 10px;
  box-shadow: 0px 1px 1px #0985b5;
  position: relative;
  z-index: 11; }

.user-info img {
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  margin-right: 20px; }

.user-info {
  padding: 10px; }

.fa {
  color: #515254; }

/* Nav Block */
.sidebar-nav > li {
  border-bottom: 1px solid #e6e9ee;
  padding: 10px;
  position: relative;
  z-index: 10;
  float: left;
  width: 100%; }

.sidebar-nav > li a {
  font-size: 14px; }

.sidebar-nav > li a:hover {
  color: #00ADEF; }

.sidebar-nav > li a:hover span {
  color: #00ADEF;
  border-color: #00ADEF; }

.sidebar-nav > li.active-nav a:hover {
  color: #333; }

.sidebar-nav > li.active-nav a:hover span {
  color: #333;
  border-color: #333; }

.active-nav, .active-nav a, .active-nav span {
  background-color: #00ADEF;
  color: #FFF;
  border-color: #FFF; }

.active-nav:before {
  content: " ";
  position: absolute;
  z-index: 11;
  right: -1px;
  top: 50%;
  pointer-events: none;
  margin-top: -10px;
  border: solid transparent;
  border-width: 10px;
  border-right-color: #FFF; }

.user-info.active-nav:before {
  top: 100px; }

.nav-icon {
  width: 32px;
  height: 32px;
  border: 2px solid #515254;
  border-radius: 16px;
  text-align: center;
  padding: 7px;
  margin-right: 10px;
  float: left; }

.nav-name {
  width: 100px;
  margin-top: 4px;
  float: left; }

.content-header {
  background-color: #FFF;
  padding: 20px 10px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
  margin-left: -15px;
  margin-right: -15px; }
  .content-header .btn-gray {
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px; }

.header-link {
  margin: 0;
  margin-left: 10px;
  font-weight: bold;
  display: inline-block; }

.header-link > li {
  margin-right: 10px; }

.access-link {
  float: right;
  margin: 0;
  margin-top: 5px; }

.tab-name {
  color: #00ADEF;
  font-size: 16px; }

.day-tab li {
  background-color: #FFF;
  color: #666;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 0;
  display: inline-block;
  border: 1px solid #D9E0F0;
  cursor: pointer; }

.day-tab li:hover {
  background-color: #51c0ea;
  color: #FFF; }

.day-tab li.active-tab {
  border: 2px solid #FFF;
  background-color: #00ADEF;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  color: #FFF; }

.trip-section {
  margin-top: 10px;
  background-color: #EDF0F5;
  overflow: hidden; }

.tab-content {
  background-color: #FFF;
  border: 1px solid #D9E0F0;
  border-radius: 3px;
  padding: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.trip-info {
  float: left; }
  .trip-info .trip-name {
    font-size: 16px; }
  .trip-info .period {
    color: #A5B6C0;
    display: block; }

.trip-info {
  border-right: 1px solid #95DBF5;
  padding: 8px 10px; }

.trip-edit-icon {
  float: right;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px; }

.action-block {
  float: right;
  padding: 10px; }

.chevron-icon {
  color: #FFF;
  margin-left: 10px; }

.city-option {
  display: inline-block;
  border-radius: 3px;
  width: auto;
  min-width: 300px; }

.city-option:focus, .city-option:active {
  box-shadow: none;
  outline: 0;
  border-color: #DDD;
  cursor: pointer; }

.google-map {
  position: relative;
  z-index: 11;
  width: 100%; }

.iframe-block {
  position: absolute;
  height: 100%;
  width: 100%; }

.set-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.tour-details {
  padding: 10px;
  padding-top: 0;
  float: left;
  width: 100%; }

.info-tab-list {
  float: left;
  width: 100%;
  border: 1px solid #00ADEF;
  border-radius: 3px; }

.info-tab-list > li {
  float: left;
  border: 0;
  border-right: 1px solid #00ADEF;
  padding: 12px 10px;
  font-size: 16px;
  color: #7D97A4;
  margin-right: 0;
  display: inline-block;
  cursor: pointer;
  width: 25%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .info-tab-list > li span {
    color: #7D97A4; }

.info-tab-list > li:hover {
  background-color: #E9F8FD;
  color: #00ADF0; }

.info-tab-list > li:last-child {
  border: 0; }

.info-tab-list.at-modal > li {
  width: 33.33%; }

.tour-info-block {
  width: 100%; }

.info-li {
  display: block; }
  .info-li > li {
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: #00ADEF;
    width: 100%;
    padding: 10px;
    border-radius: 2px; }

.toggle-menu {
  float: left;
  width: 20px;
  cursor: pointer;
  margin: 3px 0; }

.toggle-menu:hover, .toggle-menu:active {
  color: #000;
  transform: scale(1.15, 1.15); }

.spot-holder {
  width: 100%;
  display: block;
  overflow: hidden;
  overflow-y: scroll; }

.spot-li > li {
  border: 1px solid #00ADEF;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  display: block;
  float: left;
  width: 100%; }
  .spot-li > li .action-list {
    float: right; }
  .spot-li > li .action-list > li {
    margin-right: 10px;
    margin-bottom: 5px; }
    .spot-li > li .action-list > li span {
      font-size: 18px;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      text-align: center;
      line-height: 34px;
      cursor: pointer; }
      .spot-li > li .action-list > li span:hover {
        border: 0;
        outline: 2px solid; }
    .spot-li > li .action-list > li .trash-icon {
      color: #E84D3B;
      border: 1px solid #E84D3B; }
    .spot-li > li .action-list > li .edit-icon {
      color: #00ADEF;
      border: 1px solid #00ADEF; }
  .spot-li > li .action-list > li:last-child {
    margin-right: 0; }

.spot-name {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  margin-top: 8px; }

.spot-img img {
  width: 100%;
  max-width: 160px;
  border-radius: 10px;
  margin-bottom: 10px; }

.spot-icon {
  background-color: #00ADEF;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  color: #FFF;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
  float: left; }

.spot-desc {
  color: #7D97A4;
  font-size: 16px;
  text-decoration: underline; }

.tour-cost {
  font-size: 16px;
  font-weight: bold;
  color: #F8B912;
  display: block; }

.spot-img {
  float: left;
  margin-right: 15px;
  margin-left: 50px; }

.spot-quick-info {
  display: inline-block; }
  .spot-quick-info span {
    margin-bottom: 5px; }
  .spot-quick-info h4 {
    margin-top: 0;
    margin-bottom: 0; }

.border-yellow {
  border-color: #F8B912 !important; }

.border-red {
  border-color: #E84D3B !important; }

.border-blue {
  border-color: #00ADEF !important; }

.bg-red {
  background-color: #E84D3B !important; }

.bg-yellow {
  background-color: #F8B912 !important; }

.tab-content {
  width: 100%;
  box-shadow: none;
  border: 0;
  min-height: 400px;
  background-color: #FFF; }

.info-tab-list .active {
  background-color: #E9F8FD;
  color: #00ADF0; }

.info-tab-list .active span {
  color: #00ADF0; }

.vehicle-thumb {
  border: 1px solid #E0DFDF; }

#tourBookingForm .transportation-form {
  padding-bottom: 60px; }
#tourBookingForm .modal-body {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll; }

.transportation-form label {
  color: #586063;
  font-size: 13px;
  font-weight: lighter; }
.transportation-form .form-control {
  color: #333;
  letter-spacing: 1px; }

.transportation-info {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
  color: #000; }

.selected-date {
  color: #00ADEF;
  font-weight: bold; }

.vehicle-info span {
  display: block;
  margin: 3px 0; }
.vehicle-info .info {
  font-size: 16px;
  color: #00ADEF;
  font-weight: bold; }

.radio-block li {
  margin-right: 5px;
  margin-left: 0; }

/*  Flight Modal  */
.search-flights {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block; }

.flight-info-table {
  color: #333;
  margin-top: 20px; }

.flight-info-table > thead {
  background-color: #E9F8FD;
  color: #00ADEF;
  font-weight: normal;
  border-radius: 4px; }

.flight-info-table > thead tr th {
  font-weight: normal;
  border: 0;
  padding: 15px;
  border-bottom: 1px solid #7cd5f7; }

.flight-info-table > thead tr {
  border-radius: 3px;
  border: 1px solid #7cd5f7; }

.flight-info-table tbody > tr > td {
  padding-top: 15px; }

.flight-info-table tbody > tr {
  border-bottom: 1px solid #DDD; }

.flight-info-table img {
  width: 80px;
  height: auto;
  overflow: hidden; }

.link {
  color: #00ADEF;
  font-weight: bold;
  display: block;
  margin-bottom: 5px; }

.booking-source {
  color: #00ADEF;
  font-size: 14px;
  display: block;
  width: 100%; }

.red-icon {
  color: #F20B2D; }

.additional-flight-info {
  color: #666;
  display: block;
  font-weight: bold; }

.black-bold {
  color: #000;
  font-weight: bold; }

#roundForm, #roundFlightTable {
  display: none; }

/*  Home Page Style */
body.home-page {
  background: url("../images/bg-home.png") no-repeat 0 0;
  background-size: cover; }

.top-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px 0;
  width: 100%; }

.header-link-list {
  float: right;
  margin-top: 10px; }

.header-link-list > li {
  display: inline-block;
  margin-right: 10px;
  border: 0;
  border-right: 1px solid #FFF;
  line-height: 1em;
  padding-right: 10px; }
  .header-link-list > li span {
    color: #FFF; }
  .header-link-list > li > a {
    color: #FFF;
    font-size: 18px; }
    .header-link-list > li > a:hover, .header-link-list > li > a:active, .header-link-list > li > a:focus {
      color: #F7F7F7;
      font-size: 18px; }

.header-link-list > li:last-child {
  border: 0; }

/* Tour-planning-form */
.main-content {
  background-color: rgba(0, 0, 0, 0.6); }

.main-content-header {
  padding: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5E727B; }

.tour-planning-section {
  margin-top: 80px;
  margin-bottom: 40px; }

.form-heading {
  font-size: 42px;
  color: #FFF; }

.planning-form {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px; }
  .planning-form .select-style-1 {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none; }

.planning-form label {
  color: #FFF;
  letter-spacing: 2px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px; }

.planning-form ::placeholder {
  color: #FFF;
  letter-spacing: 2px; }
.planning-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
  letter-spacing: 2px; }
.planning-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
  letter-spacing: 2px; }
.planning-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
  letter-spacing: 2px; }
.planning-form :-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
  letter-spacing: 2px; }
.planning-form .form-control {
  outline: 0;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px 20px;
  height: auto;
  padding-left: 40px;
  border: 2px solid #616161;
  color: #FFF; }
.planning-form .form-group {
  position: relative;
  z-index: 12; }
.planning-form .fa {
  color: #9d9d9d;
  font-size: 18px;
  position: absolute;
  left: 15px;
  top: 45px; }
.planning-form .dropdwon-icon {
  position: absolute;
  right: 15px;
  left: initial; }

.btn-brand {
  border: 0;
  outline: 0;
  background-color: #00ADEF;
  padding: 15px 30px;
  border-radius: 49px;
  color: #FFF;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px; }
  .btn-brand:hover, .btn-brand:active, .btn-brand:focus {
    border: 0;
    outline: 0;
    background-color: #009eda;
    color: #FFF; }

.pl-20 {
  padding-left: 20px !important; }

.child-form {
  position: relative;
  top: 0;
  z-index: 10; }
  .child-form .child-input {
    position: absolute;
    top: 100px;
    z-index: 12;
    background-color: #FFF;
    width: 96%;
    border-radius: 3px;
    right: 10px;
    color: #363A3C; }
    .child-form .child-input header {
      background-color: #00ADEF;
      padding: 10px 20px;
      color: #FFF;
      font-weight: bold;
      letter-spacing: 1px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .child-form .child-input header:before {
        content: ' ';
        border: solid transparent;
        border-width: 10px;
        border-bottom-color: #00ADEF;
        position: absolute;
        top: -20px;
        right: 18px; }
    .child-form .child-input .form-control {
      background-color: #FFF;
      border-radius: 2px;
      border: 1px solid #9e9e9e;
      height: 26px;
      padding: 5px;
      color: #333;
      width: 50px; }
    .child-form .child-input .content {
      padding: 0 20px; }
    .child-form .child-input .input-block {
      display: block;
      border-bottom: 1px solid #c7c7c7;
      width: 100%;
      float: left;
      padding: 10px 0; }
  .child-form .btn-confirm {
    font-size: 16px;
    border-radius: 2px;
    background-color: #2A3030;
    padding: 10px;
    width: 100%;
    color: #FFF;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px; }
    .child-form .btn-confirm:hover, .child-form .btn-confirm:active {
      background-color: #333; }

.child-input {
  display: none; }

.no-border {
  border: 0 !important; }

.user-form label {
  color: #7C96A3;
  font-size: 14px;
  font-weight: normal; }
.user-form .form-control {
  padding: 20px 10px;
  border-color: #D7DFE2; }
.user-form .form-control:focus {
  border-color: #A9A9A9; }
.user-form .form-group {
  margin-bottom: 10px; }
.user-form .forgot {
  background-color: #EAEAEA;
  color: #425961;
  font-weight: normal;
  border: 0; }
.user-form .alter-sigin-text {
  position: relative;
  z-index: 10;
  width: 100%;
  text-align: center;
  float: left;
  color: #7894A0; }
  .user-form .alter-sigin-text:before, .user-form .alter-sigin-text:after {
    content: ' ';
    position: absolute;
    z-index: 11;
    width: 33%;
    top: 10px;
    border-bottom: 1px solid #cacaca; }
  .user-form .alter-sigin-text:before {
    left: 0; }
  .user-form .alter-sigin-text:after {
    right: 0; }
.user-form .fb {
  margin-right: 5px;
  color: #FFF; }
.user-form .not-having-ac {
  font-size: 18px;
  font-weight: bold;
  color: #00ADEF;
  display: block;
  text-align: center; }
.user-form .btn-facebook {
  margin-top: 10px; }

.signin:hover {
  background-color: #333;
  color: #FFF; }

.brand-bold {
  color: #00ADEF; }

.license-info {
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 0 65px;
  display: table; }

.reset-header {
  font-size: 34px;
  font-weight: bold;
  color: #00ADEF;
  display: block;
  margin-bottom: 20px; }

.reset-message {
  font-size: 18px;
  line-height: 1.5em;
  color: #7D97A6;
  margin-bottom: 20px;
  display: block;
  float: left;
  padding: 20px 0; }

.title {
  color: #F8B912;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-top: 14px;
  margin-left: 0;
  border-bottom: 1px solid #DDD;
  width: 100%;
  padding-bottom: 10px; }

/*  Tour Tab  */
.object-info .object-title {
  display: block;
  font-size: 18px; }
.object-info header {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 100%; }
.object-info .object-name {
  font-weight: bold;
  color: #00ADEF;
  font-size: 20px; }
.object-info .rating-list {
  float: right; }
.object-info .rating-list > li {
  display: inline-block;
  margin-right: 0;
  font-size: 18px;
  font-weight: bold; }
  .object-info .rating-list > li span {
    color: #0ACC16; }
.object-info .title {
  color: #F8B912;
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-top: 14px;
  margin-left: 6px;
  border-bottom: 1px solid #DDD;
  width: 100%;
  padding-bottom: 10px; }
.object-info .table-btn {
  float: right;
  padding: 15px 20px;
  margin-top: 30px; }

.slider-block {
  position: relative;
  z-index: 10;
  min-height: 200px; }
  .slider-block .bx-wrapper {
    margin-bottom: 0;
    border: 0;
    box-shadow: none; }
  .slider-block .slider-nav {
    float: right;
    right: 0;
    z-index: 999;
    position: absolute;
    bottom: -50px; }
  .slider-block .nav-list {
    float: left;
    width: 100%; }
  .slider-block .nav-list li {
    display: inline-block;
    margin-right: 10px;
    float: left;
    border: 2px solid #00ADEF;
    border-radius: 4px; }
    .slider-block .nav-list li:last-child {
      margin-right: 0; }
    .slider-block .nav-list li:hover {
      border-radius: 0;
      cursor: pointer; }
    .slider-block .nav-list li a {
      color: #FFF; }
    .slider-block .nav-list li span {
      color: #00ADEF;
      padding: 6px 4px; }

.hotel-details .price {
  font-weight: bold;
  color: #F8B912;
  font-size: 18px; }
.hotel-details .borderless td, .hotel-details .borderless th {
  border: none; }
.hotel-details .table tr > td {
  padding-top: 4px;
  padding-bottom: 4px; }
.hotel-details .table tr > td:nth-child(2n) {
  font-weight: bold; }

.object-featured-img {
  max-height: 240px;
  overflow: hidden; }
  .object-featured-img img {
    max-height: 230px;
    width: 100%; }

.tab-list-block .tab-list {
  float: left;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 2px; }
.tab-list-block .tab-list > li {
  width: 25%;
  float: left;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid #DDD; }
.tab-list-block li.active {
  background-color: #00ADEF;
  color: #FFF; }
.tab-list-block .tab-content {
  min-height: 200px; }

/*  select Style  */
select {
  width: 100%;
  padding: 10px 20px;
  background: #FFF;
  border: none;
  /*   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  cursor: pointer;
  background: url("../images/arrow-down-gray.png") no-repeat 230px 8px;
  background-size: 25px 24px; }

select::-ms-expand {
  display: none; }

.dropdown-filter {
  outline: 0;
  position: relative;
  z-index: 10;
  border: 1px solid #43c2f3;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/arrow-down.png") no-repeat 96% 8px;
  background-size: 22px 20px;
  padding: 5px 10px;
  padding-left: 15px; }

.rating-list {
  color: #333; }

.dropdown-filter:active, .dropdown-filter:focus {
  border-color: #00ADEF; }

.object-summary-list {
  max-height: 570px;
  overflow: auto; }
  .object-summary-list .booking-source {
    width: auto;
    font-size: 16px;
    color: #009eda; }
    .object-summary-list .booking-source .fa {
      color: #00ADEF; }
  .object-summary-list header {
    margin-top: 20px; }
  .object-summary-list .title {
    color: #F8B912;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }
  .object-summary-list p {
    margin-top: 10px;
    font-size: 14px; }
  .object-summary-list .amount {
    font-weight: bold;
    color: #F8B912;
    font-size: 20px; }
  .object-summary-list .price-tag {
    font-size: 18px; }
  .object-summary-list .btn {
    padding: 6px 8px;
    font-size: 14px; }
  .object-summary-list .pound {
    margin-left: 10px; }
  .object-summary-list .list-block {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD; }

#hotelSlider, #spotSlider {
  max-height: 280px;
  overflow: hidden; }

.more-details-block .more-details-tab.tab-2 li {
  width: 50%; }

.more-details-block .more-details-tab.tab-3 li {
  width: 33%; }

.more-details-block .more-details-tab li {
  cursor: pointer;
  width: 25%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.more-details-block .more-details-tab li.active, .more-details-block .more-details-tab li.active a {
  color: #FFF; }
.more-details-block p {
  margin: 5px;
  margin-top: 10px;
  float: left; }
.more-details-block .title-list {
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px; }
.more-details-block .title-list li {
  display: block;
  margin: 2px 0; }

#hotelBookingForm .modal-body {
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll; }

.sub-title {
  font-size: 16px; }

.yellow-title {
  color: #F8B912;
  font-size: 18px;
  font-weight: bold;
  display: block; }

.room-feature-div {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px; }
  .room-feature-div .fa {
    color: #15CC1D; }
  .room-feature-div ul.feature-list {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden; }
  .room-feature-div ul.feature-list > li {
    line-height: 2em;
    float: left;
    display: inline;
    width: 33.33%;
    font-size: 13px; }

.preferences-block ul > li {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #E8E8E8; }
  .preferences-block ul > li:nth-child(2n+1) {
    color: #F8B912;
    font-size: 17px;
    font-weight: bold; }
  .preferences-block ul > li span {
    color: #15CC1D;
    margin-left: 5px; }

/*  Tour List Modal  */
.tour-duration {
  color: #0ACC16;
  font-size: 18px;
  font-weight: bold; }

/* Trips Page  */
.page-name {
  color: #00ADEF;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.7em; }

.search-trip::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
  font-size: 20px; }

.search-trip:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-size: 20px;
  opacity: 1; }

.search-trip::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-size: 20px;
  opacity: 1; }

.search-trip:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
  font-size: 20px; }

.search-section .search-div {
  position: relative;
  z-index: 10; }
  .search-section .search-div span {
    position: absolute;
    z-index: 11;
    left: -1px;
    top: 0;
    font-size: 20px;
    color: #FFF;
    background: #00ADEF;
    border-radius: 30px;
    width: 54px;
    height: 52px;
    text-align: center;
    line-height: 2.5em; }
  .search-section .search-div .search-trip {
    margin-bottom: 10px;
    padding: 25px;
    padding-left: 60px;
    border-color: #00ADEF;
    border-radius: 40px;
    font-size: 20px;
    width: 100%;
    float: left; }
.search-section .new-trip {
  padding: 15px 20px;
  font-size: 18px;
  width: 100%;
  min-width: 120px; }

.section-type-1 {
  background-color: #FFF;
  min-height: 500px;
  margin-top: 10px;
  padding: 10px; }
  .section-type-1 .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0;
    font-style: italic;
    color: #00ADEF;
    font-size: 18px;
    padding: 15px 40px;
    border: 0;
    border-right: 1px dashed #00ADEF !important;
    border-bottom: 1px dashed #00ADEF !important;
    font-size: 17px; }
  .section-type-1 .btn {
    padding-top: 15px;
    padding-bottom: 15px; }
  .section-type-1 .brand-btn {
    background-color: #00ADEF;
    color: #FFF;
    border: #00ADEF;
    font-weight: bold;
    margin-right: 0;
    margin-bottom: 10px; }
  .section-type-1 .trip-info-table .brand-btn, .section-type-1 .trip-info-table .cancel-btn {
    width: 100px;
    float: left;
    margin-right: 10px; }
  .section-type-1 table {
    background-color: #FFF; }
  .section-type-1 .table > thead > tr > th:first-child {
    border-left: 0; }
  .section-type-1 .table > thead > tr > th:last-child {
    border-right: 0; }
  .section-type-1 .table tr > td {
    padding: 15px 40px;
    border-top: 0;
    vertical-align: middle; }
  .section-type-1 .table > thead {
    border-bottom: 1px dashed #00ADEF; }
  .section-type-1 .table > thead tr {
    border-bottom: 1px dashed #00ADEF; }
  .section-type-1 .table tbody tr {
    border-bottom: 1px solid #94DBF7;
    font-size: 16px;
    color: #333;
    font-weight: bold; }
  .section-type-1 .highlighted-tr {
    background-color: #E9F8FD; }
  .section-type-1 .cancel-btn {
    background: #FFF;
    border: 1px solid #8c8c8c;
    margin-right: 10px;
    margin-bottom: 10px; }
  .section-type-1 .not-focus {
    background: #c7d1d3;
    color: #747577;
    border: 0;
    outline: 0; }
  .section-type-1 .focus {
    background: #FFF;
    outline: 0;
    border: 1px solid #00ADEF; }
  .section-type-1 .not-focus:hover, .section-type-1 .cancel-btn:hover {
    color: #333;
    background-color: #CCC; }
  .section-type-1 .focus:hover {
    background-color: #00ADEF;
    color: #FFF; }

/* Create New Trip Mdoal */
.create-new-trip {
  padding-bottom: 60px; }

.form-title {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  display: block; }

.brand-name {
  color: #00ADEF;
  font-weight: bold; }

.form-holder label {
  color: #586063;
  font-size: 13px;
  font-weight: lighter; }

.border-brand-btn {
  border-color: #00ADEF;
  background-color: transparent;
  color: #00ADEF; }

.border-brand-btn:hover {
  border-color: #333; }

/*  User Account Page  */
.user-info-section {
  background-color: #FFF;
  min-height: 400px;
  padding: 40px;
  border-radius: 3px;
  height: 100%; }
  .user-info-section label {
    color: #8A9dAB;
    font-size: 14px;
    font-weight: lighter; }
  .user-info-section .btn {
    padding: 16px 20px;
    letter-spacing: 0.6px;
    font-size: 18px;
    min-width: 240px; }
  .user-info-section .form-group {
    margin-bottom: 20px; }
  .user-info-section .form-control {
    padding-top: 15px;
    padding-bottom: 15px;
    height: inherit; }

.user-photo-block {
  margin-top: 25px;
  border: 2px dashed #8A9dAB;
  padding: 30px;
  margin-left: 30px;
  min-height: 200px;
  width: 90%;
  border-radius: 4px; }
  .user-photo-block img {
    width: 120px;
    height: auto;
    border-radius: 60px;
    margin-right: 0; }
  .user-photo-block .img-blcok {
    position: relative;
    z-index: 10;
    top: 0;
    display: inline-block;
    border-radius: 60px;
    background-color: #F2F2F2;
    width: 120px;
    overflow: hidden;
    float: left; }
  .user-photo-block .edit-text {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 3px 45px; }
  .user-photo-block .edit-text:hover {
    background-color: #333; }
  .user-photo-block .photo-text {
    font-size: 20px;
    margin-left: 30px;
    display: inline-block;
    margin-top: 40px; }

.account-type-block {
  margin-top: 100px;
  position: relative;
  color: #FFF;
  margin-left: 30px;
  width: 90%; }
  .account-type-block p {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
    display: block; }
  .account-type-block .info {
    background-color: #77B722;
    padding: 20px;
    border-radius: 4px; }
    .account-type-block .info .fa {
      color: #FFF;
      margin-right: 30px; }
    .account-type-block .info .title {
      border-bottom: 1px solid #333;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
      color: #FFF; }

.view-map-block {
  background: url("../images/view-map.jpg") no-repeat 0 0;
  background-size: cover;
  height: 800px;
  position: relative;
  z-index: 10; }
  .view-map-block li {
    position: absolute;
    z-index: 11; }
  .view-map-block li:nth-child(1) {
    top: 40%;
    left: 30%; }
  .view-map-block li:nth-child(2) {
    top: 560px;
    left: 280px; }
  .view-map-block li:nth-child(3) {
    top: 300px;
    left: 220px; }
  .view-map-block li:nth-child(4) {
    top: 160px;
    left: 100px; }
  .view-map-block li:nth-child(5) {
    top: 40%;
    left: 30%; }

.payment-section .brand-btn {
  min-width: 150px; }
.payment-section span {
  font-weight: normal; }
.payment-section .fa {
  color: #F50C2A; }
.payment-section .red {
  color: #F50C2A;
  display: block;
  clear: both; }
.payment-section .sub-info {
  color: #666;
  font-size: 12px;
  display: block;
  clear: both; }
.payment-section img {
  width: 50px;
  height: auto;
  float: left; }
.payment-section .info-list {
  margin-left: 30px;
  float: left; }
.payment-section .info-list li {
  font-weight: normal;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top; }

.calculation-block {
  float: right;
  width: 40%;
  font-style: italic; }
  .calculation-block table {
    float: right; }
  .calculation-block table tr td {
    color: #798385; }
  .calculation-block .total {
    color: #000;
    font-weight: bold; }

.payment-section .btn-back {
  border: 1px solid #666;
  background-color: transparent;
  min-width: 140px;
  position: relative;
  z-index: 11;
  margin-top: 20px; }
.payment-section .btn-back:hover {
  border: 1px solid #000; }
.payment-section .link-div {
  margin-top: 90px;
  margin-bottom: 30px;
  float: left;
  width: 60%;
  padding: 20px; }
  .payment-section .link-div table {
    width: 100%; }
  .payment-section .link-div table tr td {
    width: 48%;
    text-align: left; }
  .payment-section .link-div .payment-text {
    font-style: italic;
    float: right;
    font-weight: bold;
    color: #00ADEF;
    font-size: 18px; }

.object-info {
  margin-bottom: 10px; }

.table {
  background-color: #FFF; }

#mapBlock {
  display: none; }

#flightBookingForm .modal-body {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto; }

.trip-details tab-pane {
  overflow: hidden;
  overflow-y: scroll; }

select.form-control {
  min-width: 120px;
  padding-right: 20px;
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icons/select-arrow.png") no-repeat 98% 10px; }

select.city-option {
  background: url("../images/icons/select-arrow.png") no-repeat 94% 8px; }

.day-tab {
  white-space: nowrap;
  overflow: auto;
  padding-bottom: 12px; }

.booking-source .fa {
  color: #00ADEF; }

.tab-holder {
  width: 800px;
  overflow-x: scroll; }

#closeTrigger {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 180px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 15px;
  padding: 8px 10px;
  cursor: pointer;
  font-weight: 100;
  line-height: 1em; }

#closeTrigger:hover {
  background: #000; }

#sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.visible-sidebar {
  position: fixed;
  height: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* responsive */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #sidebar {
    left: -180px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .container-margin {
    margin-left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

  .spot-holder {
    max-height: 700px;
    overflow: hidden;
    overflow-y: auto; }

  .search-section .new-trip {
    min-width: 120px;
    margin-bottom: 10px; }

  .trip-list-section {
    overflow-x: auto; }

  .trip-info {
    border: 0; }

  .dropdown-filter {
    margin-bottom: 10px; }

  .info-tab-list > li {
    font-size: 14px; }

  .day-tab li {
    margin: 4px 2px; }

  .more-details-block .more-details-tab.tab-4 li {
    font-size: 13px; }

  .action-block {
    float: left; }
    .action-block .brand-btn {
      width: 100%;
      clear: both; }
    .action-block .city-option {
      width: 100%;
      clear: both;
      float: left; }

  .object-info .table-btn, .object-summary-list .btn {
    float: left !important;
    margin-top: 10px; }

  .slider-block {
    min-height: 100px; }

  .tour-duration {
    float: left !important; }

  .calculation-block {
    float: none;
    font-style: italic;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 15px;
    overflow-y: hidden; }
    .calculation-block table {
      float: none; }

  .header-link {
    max-width: 68%; }

  .header-link > li {
    margin-right: 5px; }

  .spot-li {
    float: left;
    width: 100%; }

  .spot-li > li .action-list {
    display: table;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
    text-align: center; }

  .spot-img {
    margin-left: 0;
    margin-right: 0; }
    .spot-img img {
      max-width: 100%; }

  .object-info .rating-list {
    float: left;
    margin: 5px 0; }

  .user-form .alter-sigin-text:before, .user-form .alter-sigin-text:after {
    width: 20%; }

  .spot-li > li .action-list > li:last-child {
    margin-right: 10px; }

  .spot-name {
    font-size: 14px;
    margin-top: 6px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis; }

  .user-info-section .btn {
    min-width: 210px; }

  .payment-section .btn-back {
    float: left; }

  .user-photo-block {
    padding: 10px;
    margin-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    min-height: 150px; } }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .trip-list-section {
    overflow-x: auto; }

  .payment-section .btn-back {
    float: left; } }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .trip-info {
    border: 0; }

  .action-block {
    float: right; }

  .payment-section .btn-back {
    float: right; }

  .user-photo-block {
    padding: 10px;
    margin-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    min-height: 150px; } }
/* iPhone 5 landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .action-block {
    float: left;
    width: 100%; }
    .action-block .brand-btn {
      width: 48%; }

  .city-option {
    width: 48%;
    float: right; }

  .payment-section .btn-back {
    float: left; }

  .user-photo-block {
    padding: 10px;
    margin-left: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    min-height: 150px; } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  select.city-option {
    width: 240px; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
.color-red {
  color: #F00 !important; }
  .color-red .fa {
    color: #F00 !important; }

.travller-spotlist > li {
  margin-bottom: 0;
  font-size: 20px;
  display: block;
  border-bottom: 1px solid #e6e9ee;
  padding: 6px 10px;
  cursor: pointer; }
  .travller-spotlist > li:hover {
    color: #000; }

.traveller-pic img {
  width: 40px;
  height: auto;
  float: left;
  margin-right: 10px; }
.traveller-pic .traveller-name {
  cursor: pointer;
  float: left;
  font-size: 16px;
  color: #666; }
  .traveller-pic .traveller-name:hover {
    color: #000; }

.travelres-list {
  max-width: 260px;
  float: left; }

.travelres-list > li {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  float: left;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-top: 0;
  padding: 5px; }
  .travelres-list > li .fa {
    color: #666;
    margin-top: 15px;
    float: right;
    display: none; }

.travelres-list > li:first-child {
  border-top: 1px solid #DFDFDF; }

.travelres-list > li:hover .fa {
  display: block; }

.traveller-details {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  min-height: 300px; }
  .traveller-details .traveller-pic {
    float: left; }

/*# sourceMappingURL=style.css.map */
